
.form{
  background-color: transparent;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.formhome{
  background-color: transparent;
  width: 100%;
}
input{
  width: 90%;
  height: 40px;
  border: 1px solid gray;
  margin: 5px;
  border-radius: 5px;
  padding-left:5px ;
}
textarea{
  width: 90%;
  padding-left:5px ;
  border: 1px solid gray;
  margin: 5px;
  border-radius: 5px;
}
.btn{
  background-color:#FECC2A;
  border: none;
  font-size: 20px;
  color: white;
  cursor: pointer;
}
.intro{
 
  width: 100%;
  height:auto;
  background-image: url("./Assets/banner1.jpg");
  background-position:center;
  
  color: white;
}


    @media screen and (max-width:520px) {
      .intro{
       
        width: 100%;
        height: auto;
        background-image: url("./Assets/banner1.jpg");
        background-repeat: repeat;
        color: white;
        background-position: left;
      }
      .form{
        display: flex;
        background-color: transparent;
       width: 100%;
      
        justify-content: center;
        align-items: center;
      
        padding-left: 20px;
      }
    
    }
    .whats-app {
      position: fixed;
      width: 50px;
      height: 50px;
      bottom: 40px;
      background-color: #25d366;
      color: #FFF;
      border-radius: 50px;
      text-align: center;
      font-size: 30px;
      box-shadow: 3px 4px 3px #999;
      right: 15px; /* Change 'left' to 'right' */
      z-index: 100;
    }
    
  
  .my-float {
      margin-top: 10px;
  }